<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Private?</th>
      <th>Follow Status</th> <!-- Add this header -->
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.private? ? "Yes" : "No" %></td>
<td>
<% if current_user != user %>
<% existing_request = FollowRequest.find_by(sender_id: current_user.id, recipient_id: user.id) %>

<% if existing_request.present? && existing_request.status == "accepted" %>
  <%= link_to "Unfollow", "/delete_followrequest/#{existing_request.id}", method: :get %>

<% elsif existing_request.present? && existing_request.status == "pending" %>
  Request sent
  <%= link_to "Cancel", "/delete_followrequest/#{existing_request.id}", method: :get %>

<% else %>
  <%= form_with url: "/insert_followrequest", method: :post, local: true do %>
    <%= hidden_field_tag :query_sender_id, current_user.id %>
    <%= hidden_field_tag :query_recipient_id, user.id %>
    <%= hidden_field_tag :query_status, "pending" %>
    <button>Follow</button>
  <% end %>
<% end %>



  
<% end %>


</td>

      </tr>
    <% end %>
  </tbody>
</table>
