<h1>Photo Details</h1>

<dl>
  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>Image</dt>
  <dd>
    <% if @photo.image.present? %>
      <%= image_tag @photo.image_url %>
    <% else %>
      <p>No image uploaded</p>
    <% end %>
  </dd>

  <dt>Owner</dt>
  <dd><%= @photo.owner.username if @photo.owner.present? %></dd>

  <dt>Likes</dt>
  <dd><%= @photo.likes_count || 0 %></dd>

  <dt>Comments</dt>
  <dd><%= @photo.comments_count || 0 %></dd>

  <dt>Posted</dt>
  <dd><%= time_ago_in_words(@photo.created_at) %> ago</dd>
</dl>
<% if @photo.owner_id == current_user.id %>
  <p>
    <%= link_to "Delete this photo", "/delete_photo/#{@photo.id}" %>
  </p>
<% end %>

<h2>Comments</h2>
<ul>
  <% @photo.comments.each do |comment| %>
    <li><strong><%= comment.author.username %>:</strong> <%= comment.body %></li>
  <% end %>
</ul>

<% if @photo.owner_id == current_user.id %>
  <hr>
  <h2>Update Photo</h2>

  <form action="/modify_photo/<%= @photo.id %>" method="post" enctype="multipart/form-data">
    <div>
      <label for="image_box">
        Image
      </label>
      <input type="file" id="image_box" name="query_image">
    </div>

    <div>
      <label for="caption_box">
        Caption
      </label>
      <textarea id="caption_box" name="query_caption" rows="3"><%= @photo.caption %></textarea>
    </div>

    <input type="hidden" name="query_comments_count" value="<%= @photo.comments_count %>">
    <input type="hidden" name="query_owner_id" value="<%= @photo.owner_id %>">
    <input type="hidden" name="query_likes_count" value="<%= @photo.likes_count %>">

    <button>
      Update photo
    </button>
  </form>
<% end %>

<hr>
<h2>Like this photo</h2>

<form action="/insert_like" method="post">
  <input type="hidden" name="photo_id" value="<%= @photo.id %>">
  <input type="hidden" name="fan_id" value="<%= current_user.id %>">

  <button>
    Like
  </button>
</form>
<% existing_like = Like.find_by(photo_id: @photo.id, fan_id: current_user.id) %>

<% if existing_like.present? %>
  <p>
    <%= link_to "Unlike", "/delete_like/#{existing_like.id}" %>
  </p>
<% end %>


<%= link_to "Back to Photos", "/photos" %>
